{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Webshop</title>  
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link href="{% static 'css/bootstrap-grid.css' %}" >  
    <link href="{% static 'css/bootstrap-grid.css.map' %}" >
    <link href="{% static 'css/bootstrap-reboot.css' %}" >
    <link href="{% static 'css/bootstrap-reboot.css.map' %}" >
    <link href="{% static 'css/bootstrap-reboot.min.css.map' %}" >
    <link href="{% static 'css/bootstrap-reboot.min.css' %}" >
    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <link href="{% static 'css/bootstrap.css' %}" >  
    <link href="{% static 'css/bootstrap.css.map' %}" > 
    <link href="{% static 'css/bootstrap.min.css' %}" > 
    <link href="{% static 'css/bootstrap.min.css.map' %}" > 
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js.map' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link href="{% static 'more_css/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'more_css/css/mdb.min.css' %}" rel="stylesheet">
  <link href=" {% static 'more_css/css/style.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
  <style type="text/css">
          html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

      body {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
      }
      .md-form.mt-0{
    display:inline-flex;
    width:500px;
    float: "right";
    } 

    .searchBar  {
    position:relative;
    left:20%;
    top:25%;
    width:30%;
    width:300px;
    background-color: aliceblue;
   
    }
.searchBar input[type="text"]{
   background-color: aliceblue;
}
.welcome{
    margin-left: 35px;
}
.cart_icon {
    margin-left: 35px;
    margin-top: 18px;
}
.link_to_shopping_cart {
    margin-top: 18px;
}
.sr-only{
    margin-top: 18px;
}
/* .nav-link {
    margin-top: 18px;
} */
  </style>
</head>  
<body>  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <!-- " static_templates/webshop_logo.jpg" -->
        <img src="{% static 'webshop_logo.jpg' %}" height="120" alt="logo">
        <div class="welcome"></div>
        <a class="navbar-brand" href="{% url 'shop:index' %}">    @Welcome to Webshop!</a> 
        <div class="container">
            <!-- <a class="navbar-brand" href="{% url 'shop:index' %}">Home</a>     -->
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'shop:index' %}" >Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                
                <ul class="navbar-nav nav-flex-icons">
                    <div class="link_to_shopping_cart">
                    <li class="nav-item active">
                        {% if "shop:shopping_cart" %}
                     <a class="nav-link"  href="{% url 'shop:shopping_cart' %}" class="btn" >Shopping Cart
      
                      <i class="fas fa-shopping-cart"></i></a> 
                      {% endif %}
                      <span class="clearfix d-none d-sm-inline-block"> </span>
                  </li>
                </div>
                    <li class="nav-item">
                          <span class="badge  z-depth-1 mr-1">  </span>
                        <button class="cart_icon">     
                        <i class="fas fa-shopping-cart"  aria-hidden="true" ></i> {{ object.get_items_total}} {{items}} </button> 
                        <span class="clearfix d-none d-sm-inline-block">  </span>
                        </a>
                    </li>
               
                    <span class="sr-only">(current)</span>
                    <li class="nav-item">
                         <a class="nav-link waves-effect">
                        Hello, {{ user.username }}!
                        </a>
                    </li>
        
                </ul>
                <!-- <div class="searchBar">
                <form class="form-inline my-2 my-lg-0"  method="GET"  name="product_name" action="{% url 'shop:index' %}" >
                    <div class="md-form mt-0">
                  <input  id="product_name"  placeholder="search by name or code"  type="text" name="name" >
                  <i class="material-icons mdc-button__icon">
                  <input type="submit" value="search" onmousedown="postNameData();">
                </i>
            </div>
                </div> -->
                   </form>
                <form class="form-inline my-2 my-lg-0"  name="product_name"   method="GET" action="{% url 'shop:index' %}"  >
                    <div class="md-form my-0"> 
                    <input id='keyword'   action="{% url 'shop:index' %}"  width="20px "class="form-control mr-sm-2"  name="name" type="text" placeholder="Search by name or code" aria-label="Search"  onmousedown="postNameData();">
                   <!-- <button id='keyword' class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick ="postNameData()">Search</button>  -->
                    <i class="material-icons mdc-button__icon">
                    <input type="submit" value="search" onmousedown="postNameData();">
                </i>
                </div>
                </form>
            </div>
        </div>
    </nav>
    {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
    {% block content %}
    <script>
        
    </script>
    {% endblock %}

</body>  
</html>   