{% extends "base.html" %}
{% load static %}
<head>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <script src="/lib/jquery.plugin.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <script src="/lib/jquery.plugin.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
 <style>
   .SearchBar {
     position: absolute;
     top: 355px;
     left: 575px;
}

.SearchBar input {
   position: absolute;
     height: 30px;
     width: 150px;
}
.md-form.mt-0{
  width:400px;
  display:flex;
  align-items: center;  
}

.material-icons.mdc-button__icon{
  position:absolute;
}

.mdc-button__icon + input{
  width: 200px;
  padding-left: 25px;
}
 </style>
</head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

{% block content %}

<h1>Happy Shopping, {{ user.username }}! </h1>
<div class="grid-wrapper">
<div>
<!-- 
  <div class="md-form mt-0"></div> -->
  <!-- <div class="SearchBar"></div>
<form>
<input id="code" type="text"placeholder="search by code"   name="code"  >
<i class="material-icons mdc-button__icon">search
<input type="submit" value="search" onmousedown="postCodeData();">
</i>
</form>
</div> -->
</div>

  <!-- <div class="SearchBar"> -->
   
   <!-- <form name="product_name">
    <div class="md-form mt-0">
  <input  id="product_name"  placeholder="search by name or code"  type="text" name="name" >
  <i class="material-icons mdc-button__icon">
  <input type="submit" value="search" onmousedown="postNameData();">
</i>
</div>
   </form> -->


  </div>
    <!-- <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<!-- 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    window.jQuery || 
    document.write('<script type="text/javascript" src="/js/jquery-1.9.1.min.js">\x3C/script>')
    </script> -->
    
    <script>
    // $.noConflict();g
    //change to code 
    function postCodeData() {
      var code = document.getElementById("code").value
      var data = {code:code};
   $.ajax({
    type: "GET",
    url: "search_by_price/",
    data: JSON.stringify(data),
    success: function(data){
        console.log("success");
        console.log(data);
    },
    failure: function(data){
        console.log("failure");
        console.log(data);
    },
});
}

function postNameData() {
  var product_name = document.getElementById("keyword").value
    var data = {product_name: product_name};
  $.ajax({
    type: "GET",
    url: "{% url 'shop:index' %}",
    data: JSON.stringify(data),
    success: function(data){
        console.log("success");
        console.log(data);
    },
    failure: function(data){
        console.log("failure");
        console.log(data);
    },
});
}

  </script>
{% for product in product_list %}

<div class="grid-item">
<div class="view overlay">
    <h5 class="card-title">{{ product.product_name.title }}</h5>
    <img src="{{product.image.url}}" alt="product" width="210" height="250">
    <br />
    <a href="{{ product.view_product}}"  class="blue-text">Shop now!
      <div class="mask rgba-white-slight"></div>
    </a>
  
<div float='left' class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ product.product_name.title }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Price - {{ product.price }} €</p>
    <a href="{{ product.view_product}}" class="btn btn-primary">See more</a>
  </div>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock content %}