{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Happy Shopping, {{ user.username }}! </h1>
<div class="grid-wrapper">
{% for product in product_list %}
<div class="grid-item">
<div class="view overlay">
    <h5 class="card-title">{{ product.product_name }}</h5>
    <img src="{{product.image.url}}" alt="product" width="210" height="250">
    <br />
    <a href="{{ product.view_product}}"  class="blue-text">Shop now!
      <div class="mask rgba-white-slight"></div>
    </a>
  
<div float='left' class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ product.product_name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Price - {{ product.price }} €</p>
    <a href="{{ product.view_product}}" class="btn btn-primary">See more</a>
  </div>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock content %}