{% extends "base.html" %}
{% load static %}   

{% block content %}
<style>
    p {
    font-size: large;
}
.box {
  border : 1px solid black;
  width: 300px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  float:right;
}
.div_subtotal {
  padding: 30px;
  border: 1px solid #4CAF50;

}
.right {
  position: relative;
  right: 5px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
    </style>
<H3> Shopping Cart</H3>
<table summary="Your Shopping Cart" class="table table-bordered" id="shopping_cart">

    <thead class="thead-dark">
    <tr>

        <th scope="col"></th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col" width="2px">Product Code</th>
    
    </tr>
    </thead>
    <tbody>
      <script>
        let pk
      </script>
        {%  for item in object.products.all  %}
          <script>
            
          </script>
           <tr>
            <td><img src="{{item.product.image.url}}" alt="product" width="50" height="70"  class="img-fluid" ></td>
               <td> {{item.product.product_name.title}}</td>
               <td> {{item.product.price}} €</td>
               <td> {{item.quantity}}
                <td> {{item.product.code}}</td>
    
              </script>
   
          
               </td>
               <script>
                pk = `{{item.product.id}}`
                console.log("pk", pk)
            </script>
           </tr>
        {% endfor %}


        <tr>
            <td colspan="5">
                <a href="{% url 'shop:checkout' %}" class="btn btn-warning float-right ml-2">Checkout</a>
                <a href="/" class="btn btn-primary float-right">Continue Shopping</a>
            </td>
        </tr>
    </tbody>
   </table> 
   <div float="right"  padding= "30px" class="div_subtotal">
      <p font-size ="large"style="text-align:right" >Subtotal: <b> {{object.get_total_amount}} €<p> </b><tr>
</div>
<form>
  <div class="box">
  <b>Product name or code: </b>
  <br>
  <input type="text" placeholder="product name or code" id="product_name">
    <br>
  <b>Quantity: </b> 
  <br>
  <input type="text" placeholder="qty" id="quantity">
    <br>
  <button type="button" onclick="postQuantity(pk);">Update Quantity</button>
  </div>
</form>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
              <script>
function postQuantity(pk) {
  var quantity= document.getElementById("quantity").value
   
  var product_name = document.getElementById("product_name").value
    var data = {product_name:product_name, quantity: quantity};
  $.ajax({
    type: "GET",
    url: `update_quantity/`,
    data: JSON.stringify(data),
    success: function(data){
        console.log("success");
        location.reload();
        console.log(JSON.stringify(data));
    },
    failure: function(data){
        console.log("failure");
        console.log(data);
    },
});
}
</script>
   {% endblock content %}
   