{% extends "base.html" %}
{% load static %}   

{% block content %}
<style>
    p {
    font-size: large;
}
.div_subtotal {
  padding: 30px;
  border: 1px solid #4CAF50;

}
.right {
  position: relative;
  right: 5px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
    </style>
<H3> Shopping Cart</H3>
<table summary="Your Shopping Cart" class="table" id="shopping_cart">

    <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Product name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
    
    </tr>
    </thead>
    <tbody>
        {%  for item in object.products.all  %}

           <tr>

            <td><img src="{{item.product.image.url}}" alt="product" width="50" height="70"  class="img-fluid" ></td>

               <td> {{item.product.product_name.title}}</td>
               <td> {{item.product.price}} €</td>
               <td> {{item.quantity}}</td>
              
           </tr>
        {% endfor %}

    </tbody>
   </table> 
   <div float="right"  padding= "30px" class="div_subtotal">
      <p font-size ="large"style="text-align:right" >Subtotal: <b> {{object.get_total_amount}} €<p> </b><tr>
    
</div>
   {% endblock content %}